# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

Archive/
ComplementaryData/__pycache__/
out
gen
ComplementaryData/Case2_2_ECC2comp/ECC2comp_EFMs.mat
ComplementaryData/Case2_2_ECC2comp/ECC2comp_EFVs.mat
ComplementaryScripts/nothing.py
.idea/
config.save
